{% extends "main.html" %}
{% block body %}


{% if page == 'registration' %}

<div class="container" md-5>
    <h3>Registration page</h3>
    <hr>

    <div class="container credantials" md-5>
        <form action="{% url 'registration' %}" method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit">
        </form>
    </div>
    <hr>
    <p>Already have an account <a href="{% url 'login' %}">login</p>

</div>


{% else %}
<div class="container" md-5 auto>
    <h3>LogIn User</h3>
    <hr>
    <div class="container details" md-5>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="password" placeholder="password"><br>

            <input type="submit">

            <p>Don't have an account <a href="{% url 'registration' %}">registration</a></p>

    </div>

</div>

       
{% endif %}


{% endblock  %}